<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Modifier les détails d'un projet</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group">
      <!-- goBack() methos to back to previous component -->
      <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">Liste</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="pricing-header form-block mx-auto">
      <!-- Student's Edit Form -->
      <form [formGroup]="editForm" (ngSubmit)="updateForm()" novalidate>
        <div class="row">
          <div class="col-lg-5 col-md-12 col-sm-12">
       <div class="row">

        <div class="col-md-12 mb-3">
          <label>Date</label>
          <input type="text" formControlName="projectDate" class="form-control" required>
          <!-- Showing errors using getter method -->
          <p *ngIf="projectDate.touched && projectDate.invalid" class="error"><sup>*</sup>Veuillez entrer la date du projet</p>
          <p *ngIf="projectDate.errors?.minlength" class="error"><sup>*</sup>Il faut que ce soit une date</p>
        </div>

        <div class="col-md-12 mb-3">
          <label>Durée</label>
          <input type="text" formControlName="projetLenght" class="form-control" required>
          <!-- Showing errors using getter method -->
          <p *ngIf="projetLenght.touched && projetLenght.invalid" class="error"><sup>*</sup>Veuillez entrer la durée du projet en nombre de périodes</p>
          <p *ngIf="projetLenght.errors?.minlength" class="error"><sup>*</sup>Il faut que ce soit une durée en nombre de périodes</p>
        </div>

      
        <div class="col-md-12 mb-3">
          <label>Membres</label>
          <input type="text" formControlName="membres" class="form-control" required>
          <!-- Showing errors using getter method -->
          <p *ngIf="membres.touched && membres.invalid" class="error"><sup>*</sup>Veuillez encoder au moins un autre membres</p>
          <p *ngIf="membres.errors?.minlength" class="error"><sup>*</sup>Ajouter un membre non existant ?</p>
        </div>

        <div class="col-md-12 mb-3">
          <label>Objectif(s)</label>
          <input type="text" formControlName="buts" class="form-control" required>
          <!-- Showing errors using getter method -->
          <!--<p *ngIf="buts.touched && buts.invalid" class="error"><sup>*</sup>Veuillez encoder au moins une tâche</p>
          <p *ngIf="buts.errors?.minlength" class="error"><sup>*</sup>Il faut au moins deux lettres</p>-->
        </div>

            
        <div class="col-md-12 mb-3">
          <label>Tâche(s)</label>
          <input type="text" formControlName="taches" class="form-control" required>
          <!-- Showing errors using getter method -->
          <p *ngIf="taches.touched && taches.invalid" class="error"><sup>*</sup>Veuillez encoder au moins une tâche</p>
          
        </div>

           
        <div class="col-md-12 mb-3">
          <label>Décision(s)</label>
          <input type="text" formControlName="decisions" class="form-control" required>
          <!-- Showing errors using getter method -->
          <p *ngIf="decisions.touched && decisions.invalid" class="error"><sup>*</sup>Veuillez encoder au moins une décision</p>
          
        </div>

      </div>
            </div>
            <div class="form-group text-right">
              <button type="submit" class="btn btn-success btn-block" [disabled]="!editForm.valid">Modifier</button>
            </div>
          </div>
       
      </form><!-- Student's Edit Form ends-->

    </div>
  </div>
</div>