<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Ajout Projet</h1>
  <p class="custom-text">BossCool, une application cool pour l'encodage des projets de travail colaboratif</p>
</div>

<!-- Student form -->
<form [formGroup]="studentForm" (ngSubmit)="submitStudentData()" novalidate>
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
      <div class="row">

        <div class="col-md-12 mb-3">
          <label>Date</label>
          <input type="text" formControlName="projectDate" class="form-control" required>
          <!-- Showing errors using getter method -->
          <p *ngIf="projectDate.touched && projectDate.invalid" class="error"><sup>*</sup>Veuillez entrer la date du projet</p>
          <p *ngIf="projectDate.errors?.minlength" class="error"><sup>*</sup>Il faut que ce soit une date</p>
        </div>

        <div class="col-md-12 mb-3">
          <label>Durée</label>
          <input type="text" formControlName="projetLenght" class="form-control">
          <!-- Showing errors using getter method -->
          <p *ngIf="projetLenght.touched && projetLenght.invalid" class="error"><sup>*</sup>Veuillez entrer la durée du projet en nombre de périodes</p>
          <p *ngIf="projetLenght.errors?.minlength" class="error"><sup>*</sup>Il faut que ce soit une durée en nombre de périodes</p>
        </div>

      
        <div class="col-md-12 mb-3">
          <label>Membres</label>
          <input type="text" formControlName="membres" class="form-control" required>
          <!-- Showing errors using getter method -->
          <p *ngIf="membres.touched && membres.invalid" class="error"><sup>*</sup>Veuillez encoder au moins un autre membres</p>
          <p *ngIf="membres.errors?.minlength" class="error"><sup>*</sup>Ajouter un membre non existant ?</p>
        </div>

        <div class="col-md-12 mb-3">
          <label>Objectif(s)</label>
          <input type="text" formControlName="objectifs" class="form-control" required>
          <!-- Showing errors using getter method -->
          <!--<p *ngIf="objectifs.touched && objectifs.invalid" class="error"><sup>*</sup>Veuillez encoder au moins une tâche</p>-->
          <p *ngIf="objectifs.errors?.minlength" class="error"><sup>*</sup>Il faut au moins deux lettres</p>
        </div>

            
        <div class="col-md-12 mb-3">
          <label>Tâche(s)</label>
          <input type="text" formControlName="taches" class="form-control" required>
          <!-- Showing errors using getter method -->
          <p *ngIf="taches.touched && taches.invalid" class="error"><sup>*</sup>Veuillez encoder au moins une tâche</p>
          
        </div>

           
        <div class="col-md-12 mb-3">
          <label>Décision(s)</label>
          <input type="text" formControlName="decision" class="form-control" required>
          <!-- Showing errors using getter method -->
          <p *ngIf="decision.touched && decision.invalid" class="error"><sup>*</sup>Veuillez encoder au moins une décision</p>
          
        </div>

      </div>

      <div class="form-group text-right">
        <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">Reset</button>
        <button type="submit" class="btn btn-success" [disabled]="!studentForm.valid">Ajout Projet</button>
      </div>

    </div>
  </div>
</form><!-- Student form ends-->